################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProjectMVC/bin
/FinalProjectMVC/obj/Debug
/.vs/FinalProjectMVC/config
/.vs/new mvc/v16
